{% extends "myapp_base.html" %}
{% block title %} Make Choice {% endblock %}
{% block content %}
<div class="container">
    <div class="my-4">
        <h1>{{ course.subject }} {{ course.catalog_number }} {{ course.class_title }}</h1>
    </div>
    {% for session in sessions %}
    <div class="card mb-4 p-2 border-left-primary">
        <div class="card-body">
            <div>
                <h3>
                    <a href="{% url 'tutor' session.tutor.id %}" style="text-decoration:none;">Tutor: {{ session.tutor.first_name }} {{ session.tutor.last_name }} </a>
                </h3>
            </div>
            <div class="ms-4">
                <p>Date: {{ session.date.date }}</p>
            </div>
            <div class="ms-4">
                <p>Time: {{ session.start_time }} - {{ session.end_time }}</p>
            </div>
            <div class="ms-4">
                <p>Description: {{ session.description }}</p>
            </div>
            <div class="ms-4">
                <p>Hourly Rate: {{ session.price }}</p>
            </div>
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <form method="post" action="{% url 'book-session' session.id %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        {% if cur_User.user_role == 'STUDENT' %}
                        <button type="submit" class="btn btn-primary fixed-right mb-2"> Book Session</button>
                        {% endif %}
                        {% endif %}
                    </form>
                    <form method="get" action="{% url 'start-chat' session.tutor.id %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        {% if cur_User.user_role == 'STUDENT' %}
                        <button type="submit" class="btn btn-secondary fixed-right"> Chat</button>
                        {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No sessions found.</p>
    {% endfor %}
</div>
{% endblock %}
