{% extends "myapp_base.html" %}
{% block title %} Make Choice {% endblock %}
{% block content %}
<h1>Search Spring 2023 Undergraduate Classes</h1>

<form method="get">
    <input type="text" name="sub" placeholder="Search by subject">
    <input type="text" name="cat" placeholder="Search by catalog number">
    <input type="text" name="course_title" placeholder="Search by course title">
    <button type="submit">Search</button>
</form>

<div>
    <a href="{% url 'course_list'%}">Click to return to search page</a>
</div>

<ul>
    {% for course in courses %}
    <li>
        <h2>{{ course.subject }} {{ course.catalog_number }} {{ course.class_title }}</h2>
        <a href="{% url 'sessions' course.pk %}">Click here for available sessions </a>
        <!-- <p>Class number: {{ course.class_number }}</p>
        <p>Instructor: {{ course.instructor }}</p> -->
    </li>
    {% empty %}
    <p>No courses found.</p>
    {% endfor %}
</ul>

{% endblock %}