{% extends "myapp_base.html" %}
{% block title %} Make Choice {% endblock %}
{% block content %}
<!-- Contents Starts Here-->
<ul>
    <h2>{{ course.subject }} {{ course.catalog_number }} {{ course.class_title }}</h2>
    {% for session in sessions %}
    <li>
        <h2>{{ session.tutor }} {{ session.desc }} {{ course.class_title }}</h2>
        <p>Tutor: {{ session.tutor.first_name }} {{ session.tutor.last_name }}</p>
        <p>Date: {{ session.date }}</p>
        <p>Time: {{ session.start_time }} - {{ session.end_time }}</p>
        <p>Description: {{ session.description }}</p>
        <p>Hourly Rate: {{ session.price }}</p>
        <form method="post" action="{% url 'book-session' session.id %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
            {% if cur_User.user_role == 'STUDENT' %}
            <button type="submit" class="btn btn-success"> Book Session</button>
            {% endif %}
            {% endif %}
        </form>
    </li>
    {% empty %}
    <p>No sessions found.</p>
    {% endfor %}

    <!-- {% for course in courses %}
      <li>
        <h2>{{ course.subject }} {{ course.catalog_number }} {{ course.class_title }}</h2> -->
    <!-- <p>Class number: {{ course.class_number }}</p>
    <p>Instructor: {{ course.instructor }}</p> -->
    <!-- </li> -->
    <!-- {% empty %}
      <p>No courses found.</p>
    {% endfor %} -->
</ul>

{% endblock %}