{% extends "myapp_base.html" %}
{% block title %} Make Choice {% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-4">Search Spring 2023 Undergraduate Classes</h1>

    <form method="get" class="row g-3">
        <div class="col-md-4">
            <input type="text" name="sub" placeholder="Search by subject" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" name="cat" placeholder="Search by catalog number" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" name="course_title" placeholder="Search by course title" class="form-control">
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="col-6">
                <a href="{% url 'course_list'%}" class="btn btn-secondary">Return to search page</a>
            </div>
        </div>
    </form>



    <ul class="list-unstyled mt-4">
        {% for course in courses %}
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 class="h4">{{ course.subject }} {{ course.catalog_number }} {{ course.class_title }}</h2>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'sessions' course.pk %}" class="btn btn-primary">Click here for available sessions</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No courses found.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
