{% extends "myapp_base.html" %}
{% block title %}Login {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="my-3">
            <h1> Appointment Status </h1>
        </div>
        {% if bookings == None %}
            <p> No current appointments </p>
        {% else %}
            {% for booking in bookings %}
                {% if booking.booking_status == 'ACCEPTED' %}
                    <div class="border-start border-success border-3 m-y p-2 float-left" style="border-radius-success:5px">
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Time: {{booking.session.date}} at {{booking.session.start_time}} to {{booking.session.end_time}}</p>
                        <p> Status: {{booking.booking_status}}</p>
                    </div>
                {% elif booking.booking_status == 'PENDING' %}
                    <div class="border-start border-warning border-3 my-4 p-2" style="border-radius-warning:5px">
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Time: {{booking.session.date}} at {{booking.session.start_time}} to {{booking.session.end_time}}</p>
                        <p> Status: {{booking.booking_status}}</p>
                    </div>
                {% else %}
                    <div class="border-start border-danger border-3 my-4 p-2" style="border-radius-danger:5px">
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Session for {{booking.session.course.sub_and_cat}}</p>
                        <p> Time: {{booking.session.date}} at {{booking.session.start_time}} to {{booking.session.end_time}}</p>
                        <p> Status: {{booking.booking_status}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
