{% extends "myapp_base.html" %}
{% block title %}Login {% endblock %}
{% block content %}
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Tutor Me<br/>
                        <span class="text-primary">Group A-08</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Please log-in to proceed
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form>
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <!-- Register buttons -->
                                <div class="row justify-content-center">
                                    <div class="text-center">
                                        <p>To continue:</p>
                                        <button type="submit" class="btn btn-primary btn-block mb-4">
                                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-light"
                                               style="text-decoration: none;">Login With Google</a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>

{% endblock %}
