{% extends "myapp_base.html" %}
{% block title %} Post Session {% endblock %}
{% block content %}
<!-- Contents Starts Here-->
<div class="card">
    <!-- Start Card Body -->
    <div class="card-body">
        <!-- Start Form -->
        <form method="post" action="{% url 'post-session' %}">
            {% csrf_token %}
            <!-- Start Course Selection -->
            <div class="form-group m-1">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Please choose the classes you are tutoring for
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" aria-required="true">
                        {% for course in coursesQuery %}
                        <li>
                            <a class="dropdown-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{course.sub_and_cat}}" name= "courses[]" id="Check{{ forloop.counter }}" checked/>
                                    <label class="form-check-label" for="Check{{ forloop.counter }}"> {{course.sub_and_cat}} </label>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Course Selection -->

            <!-- Start Input Description -->
            <div class="form-group m-1">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                       placeholder="Description for Session" required/>
                <small class="form-text text-muted"> Please give a description for your session </small>
            </div>
            <!-- End Input Description -->

            <!-- Start Input Price -->
            <div class="form-group m-1">
                <label for="price">Hourly Rate</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="0.00" min="'0" step="0.5"
                       required/>
                <small class="form-text text-muted"> Please give your hourly rate in USD </small>
            </div>
            <!-- End Input Price -->

            <!-- Start Input Date , Start Time and End Time -->
            <div class="form-row m-1">
                <!-- Start Input Date -->
                <div class="form-group col-md-4">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required/>
                    <small class="form-text text-muted">Please choose date for session.</small>
                </div>
                <!-- End Input Date -->

                <!-- Start Input Start Time -->
                <div class="form-group col-md-4">
                    <label for="start_time">Start Time</label>
                    <input type="time" class="form-control" id="start_time" name="start_time" required/>
                    <small class="form-text text-muted">Please choose start time for session.</small>
                </div>
                <!-- End Input Start Time -->

                <!-- Start Input End Time -->
                <div class="form-group col-md-4">
                    <label for="end_time">End Time</label>
                    <input type="time" class="form-control" id="end_time" name="end_time" required/>
                    <small class="form-text text-muted">Please choose end time for session.</small>
                </div>
                <!-- End Input End Time -->
            </div>
            <!-- End Input Date , Start Time and End Time -->

            <!-- Start Session Size -->
            <div class="form-group col-md-4 m-1">
                <label for="max_students">Class Size</label>
                <input type="number" class="form-control" id="max_students" name="max_students" required/>
                <small class="form-text text-muted">Please choose size for session.</small>
            </div>
            <!-- End Session Size -->

            <!-- Start Submit Button -->
            <button class="btn btn-primary btn-block col-lg-2 float-right" type="submit">Post Session</button>
            <!-- End Submit Button -->
        </form>
        <!-- End Form -->
    </div>
    <!-- End Card Body -->
</div>

{% endblock %}