{% extends "myapp_base.html" %}
{% block title %} Student Home {% endblock %}
{% block content %}
    <div class="container-lg col-lg-6 mt-5 mb-5 mb-lg-0">
		<div class="card">
			<div class="card-body py-5 px-md-3 text-center">
                <h1> Welcome, Student {{cur_User.first_name}}</h1>
            </div>
            <div class="card-body py-5 px-md-3 text-center">
                <a href ="{% url 'current-appointments'%}">
                    Manage Sessions
                </a>
            </div>

        </div>
    </div>
 {% endblock %}